<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<h3>Test</h3>

<div class="href-wrapper">
  <div class="">
    <a href="/">Gabble</a>
  </div>
  <div class="">
    <a href="/newGab">Create a new Gab</a>
  </div>
  <div class="">
    <a href="#">Logged in as (username)</a>
  </div>
  <div class="">
    <a href="/logout">Log Out</a>
  </div>
</div>

  </body>
</html>
