<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="utf-8">
  <title></title>
</head>

<body>

  <div class="indexWrapper">

    <div class="header">
      <h1>Gabble</h1>
    </div>

    <div class="indexHrefWrapper">

      <div class="">
        <a href="/">Gabble</a>
      </div>

      <div class="">
        <a href="/newGab">Create a new Gab</a>
      </div>

      <div class="">
        {{#user}}
          <a href="/">Logged in as {{username}}</a>
        {{/user}}
      </div>

      <div class="">
        <a href="/logout">Log Out</a>
      </div>
    </div>

    {{#posts}}
      <div class="gab">
        <div class="gabTitleWrapper">
        <strong class="label">
        <label for="">Title:</label>
        </strong>
        <h3>{{title}}</h3>
      </div>
      <div class="gabBodyWrapper">
        <strong class="label">
        <label for="">Body:</label>
        </strong>
        <h3>{{body}}</h3>
      </div>

        <div class="likedBy">
          <h3>Liked By:</h3>
          {{#likes}}
            <h3>{{userId}}</h3>
          {{/likes}}
        </div>

        <div class="likeDelete">
          <div class="likeDeleteHref">
            <a href="/like/{{id}}">Like</a>
          </div>
          <div class="likeDeleteHref">
            <a href="/delete/{{id}}">Delete</a>
          </div>
        </div>
      </div>
    {{/posts}}

  </div>

</body>

</html>
