<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="utf-8">
  <title>Log In</title>
</head>

<body>




  <div class="loginWrapper">
    <div class="header">
      <h1>Welcome to Gabble</h1>
    </div>
    <div class="registerUser">
      <a href="/register">Create New User</a>
    </div>
    <form class="" action="/login" method="post">

      <div class="username">
        <label for="">Username:</label>
        <div class="">
          <input class="inputText" type="text" name="username" value="">
        </div>
      </div>

      <div class="password">

        <label for="">Password:</label>
        <div class="">
          <input class="inputText" type="password" name="password" value="">
        </div>
      </div>

      <div class="submitBtn">
        <button type="submit" name="button">Log In</button>
      </div>

    </form>
  </div>
</body>

</html>
