<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="utf-8">
  <title>Register</title>
</head>

<body>

  <div class="registerWrapper">
    <div class="header">
      <h1>Create a Gabble Profile</h1>
    </div>

    <div class="href-wrapper">
      <div class="">
        <a href="/">Log In</a>
      </div>

      <div class="">
        {{#user}}
          <a href="/">Logged in as {{username}}</a>
        {{/user}}
      </div>

      <div class="">
        <a href="/logout">Log Out</a>
      </div>
    </div>

    <form class="" action="/register" method="post">

      <div class="username">
        <label for="">Username:</label>
        <div class="">
          <input class="inputText" type="text" name="username" value="">
        </div>
      </div>

      <div class="password">
        <label for="">Password:</label>
        <div class="">
          <input class="inputText" type="password" name="password" value="">
        </div>
      </div>

      <div class="displayname">
        <label for="">Display Name:</label>
        <div class="d">
          <input class="inputText" type="text" name="displayName" value="">
        </div>
      </div>

      <div class="submitBtn">
        <button type="submit" name="button">Create</button>
      </div>

    </form>
  </div>
</body>

</html>
